h2{
	margin-left: 200px;
	margin-top: 10px;

}
#header{
	text-align: left;
	display: inline;
	width: 600px;
	height: 150px;
}
img#logo{
	margin-left: 0px;
	margin-top: 0px;
	width: 150px;
	height: 150px;
	float: left;
}
#menu, #menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
#menu {
	margin-left: 110px;
	margin-top: 52px;
    width: 1200px;
    background-color: #111;
    background-image: linear-gradient(#444, #111);
    
}
#menu:before,
#menu:after {
    content: "";
    display: table;
}

#menu:after {
    clear: both;
}

#menu {
    zoom:1;
}
#menu li {
    float: left;
     position: relative;
}

#menu a {
    float: left;
    padding: 12px 30px;
    color: #999;
    font: bold 12px Arial, Helvetica;
    text-decoration: none;
    
}

#menu li:hover > a {
    color: #fafafa;
}

*html #menu li a:hover { /* IE6 only */
    color: #fafafa;
}
#menu ul {
    margin: 20px 0 0 0;
    _margin: 0; /*IE6 only*/
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 38px;
    left: 0;
    z-index: 1;    
    background: #444;   
   }

#menu li:hover > ul {
    opacity: 1;
    visibility: visible;
    margin: 0;
}

#menu ul ul {
    top: 0;
    left: 150px;
    margin: 0 0 0 20px;
    _margin: 0; /*IE6 only*/ 
}

#menu ul li {
    float: none;
    display: block;
    border: 0;
    _line-height: 0; /*IE6 only*/
 }

#menu ul a {    
    padding: 10px;
    width: 130px;
    _height: 10px; /*IE6 only*/
    display: block;
    white-space: nowrap;
    float: none;
    text-transform: none;
}

